/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 26, 2024, 9:46:39 PM
    Author     : darkx
*/

body {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
}

h1 {
    color: #0000ff; /* Azul */
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}